*.psd filter=lfs diff=lfs merge=lfs -text
File filter=lfs diff=lfs merge=lfs -text
Develop/AndroidSDK/android-sdk/emulator/lib64/qt/lib/libQt6WebEngineCoreAndroidEmu.so.6 filter=lfs diff=lfs merge=lfs -text
